@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-clr: hsl(197, 75%, 50%);
    --secondary-clr: hsl(197, 75%, 80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

header {
    flex: 1;
    text-align: center;
}

main {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

section.books {
    display: inline-grid;
    min-width: 35vw;
    resize: both;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid var(--secondary-clr);
    border-radius: 10px;
    padding: 25px 20px;
    position: relative;
}

.book.read {
    background-color: var(--primary-clr);
    border-color: var(--secondary-clr);
    color: white;
}

.book-name {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.book.read .book-name {
    margin-right: calc(1.5rem + 8px);
}

.book svg {
    width: 1.5rem;
    display: none;
}

.book.read svg {
    display: block;
}

.book .read-status-container {
    margin-top: 15px;
}

button {
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

button:hover {
    filter: brightness(103%);
}

button:active {
    filter: brightness(95%);
}

.add-book-button {
    padding: 15px 50px 15px 40px;
    border-radius: 10px;
    background-color: var(--primary-clr);
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-book-button {
    background: transparent;
    color: var(--secondary-clr);
    position: absolute;
    top: 8px;
    right: 10px;
    font-weight: 500;
    padding: 2px 7px;
}

.read .delete-book-button {
    color: rgba(255, 255, 255, .8);
}

.delete-book-button:hover {
    background-color: hsl(0, 0%, 95%);
    border-radius: 100%;
}

.read-btn {
    border-radius: 25px;
    box-shadow: 1px 2px 3px 1px hsla(0, 0%, 60%, 30%);
    background-color: hsl(197, 80%, 96%);
    color: hsl(197, 90%, 45%);
    font-weight: 500;
    font-size: 0.75rem;
    padding: 10px 20px;
}

/* dialog / modal styling */
::backdrop {
    background-color: hsl(195, 53%, 25%);
    opacity: .75;
}

dialog {
    margin: auto;
    border: none;
    border-radius: 20px;
    min-width: 600px;
    padding: 40px 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question {
    display: flex;
    flex-direction: column;
}

dialog label {
    font-size: 0.75rem;
    color: hsl(195, 53%, 40%);
}

.read-status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.read-status-container label {
    font-size: 1rem;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid hsl(195, 53%, 40%);
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

input[type="text"]:focus {
    border: 2px solid hsl(195, 80%, 40%);
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.button-group {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.button-group button {
    padding: 10px 20px;
    width: 100px;
    border-radius: 5px;
}

#submitBtn {
    background-color: lightblue;
}